* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
