name: Check
on: push
jobs:
  ci-demo:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install deps
        run: npm i
      - name: Lint
        run: npm run lint
      - name: Build project
        run: npm run build
